/*
 * -----------------------------------------------------------------------------
 * Add custom styles for your useless app here!
 * -----------------------------------------------------------------------------
 */

html {
  padding: 0;
}

body {
  background: #ebf6ff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 5rem 5vw 2rem;
}

h1 {
  color: #0e1e25;
  text-align: center;
}

.useless-button {
  background: #0088ff;
  color: #ffffff;
  display: block;
  font-size: 2rem;
  font-weight: 900;
  margin: 1.5rem auto;
  padding: 1rem;
}

p {
  text-align: center;
}
/*
 * -----------------------------------------------------------------------------
 * END OF APP-SPECIFIC STYLES
 * -----------------------------------------------------------------------------
 */

/*
 * -----------------------------------------------------------------------------
 * Don’t edit or delete below this line unless you’re removing the banner.
 * -----------------------------------------------------------------------------
 */
.useless-web-banner {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
}

.useless-web-link {
  display: block;
  margin: 0;
  padding: 0 0 10px 10px;
}

.useless-web-link::before {
  content: '';
  position: absolute;
  right: calc(100% - 4px);
  top: 24px;
  width: 8px;
  height: 8px;
  background: white;
  border: 3px solid #3d3d3d;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-45deg);
  z-index: 3;
}

.useless-web-link::after {
  content: attr(data-tooltip);

  position: absolute;
  right: 100%;
  top: 10px;

  background: white;
  border: 3px solid #3d3d3d;
  border-radius: 8px;
  color: #0e1e25;
  font-size: 0.875rem;
  padding: 10px;
  text-align: center;
  width: 220px;
  z-index: 2;
}

.useless-web-link::before,
.useless-web-link::after {
  opacity: 0;
  pointer-events: none;
}

.useless-web-link:hover::before,
.useless-web-link:hover::after {
  opacity: 1;
  pointer-events: all;
}
